
.contactModal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    form {
        width: 400px;
        height: 500px;
        background-color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    button {
        width: 200px;
        height: 20px;
    }
}