
.myWork {
    // min-height: 100vh;
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;

    .mywork__workPenguin {
        width: clamp(350px, 80vw, 900px);
        align-self: flex-end;
        margin-bottom: 60px;
    }
}


.myWork__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin: 0 6%;
}

@media screen and (max-width: 600px) {
    .myWork__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 95%;
    }
}

.myWork__workPenguinMobile {
    display: none;
    width: 350px;
    align-self: center;
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .workComponent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workComponent__content {
        border-radius: 40px 40px 20px 20px !important;
    }

    .myWork__workPenguinMobile {
        display: inline-block;
    }

    .myWork__workPenguinDesktop {
        display: none;
    }
}


.workComponent {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    /* overflow-x: hidden; */
    margin-bottom: 20px;
}

@media screen and (min-width: 400px) {

    .workComponent {
        width: 100%;
    }



}

.workComponent__imgWrapper {
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 0px
}

.workComponent__img {
    // width: 100%;
    height: 100%;
    display: inline-block;
    // object-fit: cover;
    
    border-top: 10px solid rgba(26, 48, 77, 0.5);
    border-left: 10px solid rgba(26, 48, 77, 0.5);
    border-right: 10px solid rgba(26, 48, 77, 0.5);
    border-radius: 30px 30px 0 0;
}


.workComponent__content {
    padding: 20px 30px;
    background: linear-gradient(to bottom, rgba(26, 48, 77, 0.5) 10%, rgba(31, 61, 75, 0));
    /* height: 450px; */

    /* overflow: hidden; */
    /* height: 25px; */
    border-radius: 0 40px 20px 20px;
}

.content__name {
    font-size: clamp(10px, 6vw, 20px);
    font-weight: bold;
    margin-top: 3px;
}

.content__description {
    font-size: clamp(10px, 4.5vw, 16px);
    margin-bottom: 40px;
    margin-top: 10px;
    min-height: 130px;
}

.content__challengesTitle {
    font-weight: bold;
    font-size: clamp(10px, 5vw, 18px);
}

.content__challenges {
    font-size: clamp(10px, 4.5vw, 16px);
    margin-bottom: 40px;
    height: 60px;
}

.content__skillsTitle {
    font-weight: bold;
    font-size: clamp(10px, 5vw, 18px);
    margin-bottom: 0.5em;
    text-align: center;
}

.content__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.skills {
    /* width: 31%; */
    text-align: center;
    padding: 0.5em 0.6em;
    margin: 1%;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(10px, 4.3vw, 16px);
    // font-weight: bolder;
    border-radius: 0.5em;
    border: 2px solid rgb(230, 230, 230);
}

.content__linksTitle {
    font-weight: bold;
    font-size: clamp(10px, 5vw, 18px);
    margin-top: 1.2em;
    margin-bottom: 0.2em;
    text-align: center;
}

.content__links {
    display: flex;
    justify-content: center;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}

.links__code, .links__website {
    width: 70px;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(10px, 4.3vw, 18px);
    border-radius: 0.5em;
    border: 2px solid rgb(230, 230, 230);
    margin-left: .2em;
    margin-right: .2em;
    transition: 0.2s;
}

.links__code:hover, .links__website:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.links__image {
    width: 100%;
    border-radius: 50%;
}