* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.main {
    min-height: 150vh;
    background: linear-gradient(to bottom, #000 10%, rgb(6, 44, 75));
}