

.aboutMe {
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    &__penguin {
        width: clamp(350px, 70vw, 900px);
        margin-bottom: 60px;
        align-self: flex-start;
    }

    &__content {
        display: flex;
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;

        &__inner {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-around;
            // align-items: center;
            background: linear-gradient(to bottom,rgba(7, 28, 39, 0.219) 10%, rgba(21, 87, 117, 0.048));
            width: 75%;
            // height: 700px;
            border-radius: 20px;
            margin-left: 10px;

            color: #fff;
            font-family: "Open Sans", sans-serif;
            padding: 30px 50px;

            h2 {
                font-family: "Montserrat", sans-serif;
                font-weight: normal;
                font-size: 24px;
            }

            h2:first-of-type {
                margin-bottom: 10px;
                margin-top: 15px;
            }

            h2:last-of-type {
                margin-bottom: 15px;
                margin-top: 40px;
            }
        }
    }

    &__illustrations {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;
        margin-bottom: 30px;

        &__img {
            display: inline-block;
            object-fit: contain;
            height: 250px;
            border: 3px solid rgba(24, 31, 63, 0.199);
        }
    }

    &__portraitWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom,rgba(4, 17, 24, 0.219) 10%, rgba(21, 87, 117, 0.048));
        width: 25%;
        height: 470px;
        border-radius: 20px;

        .portrait {
            height: 220px;
            width: 250px;
            // border-radius: 50%;
            filter: sepia(10%);
            margin-top: 30px;
            margin-bottom: 35px;
        }

        &__description {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-left: 15px;

            h2 {
                color: lightblue;
                font-family: "Montserrat", sans-serif;
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 20px;

                // I don't know if this is genius or bootleg as hell.
                border-bottom: 2px solid rgba(114, 131, 204, 0.295);
                width: 120%;
                text-align: center;
                padding-bottom: 8px;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;

                p {
                    font-size: 18px;
                    font-family: "Montserrat";
                    margin-bottom: 5px;
                }

            }

            p {
                color: #fff;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
            }

        } 


    }
    
}

@media screen and (max-width: 1500px) {
    .aboutMe__content__inner {
        width: 60%;
    }

    .aboutMe__portraitWrapper {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .aboutMe__content {
        flex-direction: column;
    }

    .aboutMe__content__inner {
        width: 100%;
        padding: 15px 30px;
        margin-left: 0;
        margin-top: 10px;
    }

    .aboutMe__content {
        display: flex;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .aboutMe__portraitWrapper {
        width: 100%;
    }

    .aboutMe__illustrations {
        display: grid;
        width: 100%;
        gap: 10px;
        margin: 0;
        padding: 0;
    }
}

.aboutMe__penguinMobileWrapper {
    display: none;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.aboutMe__penguinDesktopWrapper {
    width: 100%;
    justify-content: flex-start;
}

.aboutMe__penguinMobile {
    width: 80%;
}

@media screen and (max-width: 800px) {
    .aboutMe__penguinMobileWrapper {
        display: flex;
    }

    .aboutMe__penguinDesktopWrapper {
        display: none;
    }

    .aboutMe {
        padding-top: 0;
    }
}